<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Exam Registration</title>
    <link rel="stylesheet" href="/css/HomePage.css"/>
</head>
<body>
  
   <a href="/user">booking spot</a>
   <a href="/spot">Add Spot</a>

    <script src="/js/main.js"></script>
</body>
</html>
